Python Project : 

Revised Project Scope: "Automated Data Pipeline & Dashboard"
üü¢ What You Will Do (Simplified)
‚úÖ Fetch data from a public API (like weather or cryptocurrency prices)
‚úÖ Clean and transform it in Python (Pandas)
‚úÖ Save it to a CSV or SQLite database
‚úÖ Create basic visualizations in Matplotlib/Seaborn
‚úÖ (Optional) Build a very simple Flask web page to display the charts (only if you have time)

This way, you cover:

Python scripting

Data manipulation

API interaction

Visualization

‚Ä¶and avoid spending too much time on backend frameworks.

üóìÔ∏è 10-Day Learning & Build Plan
Below is a realistic roadmap, assuming 2 hours per day.

üìÖ Day 1 ‚Äì Get Set Up
Goal: Install tools, understand Python basics.

‚úÖ Install:

Python (latest version)

VS Code (or PyCharm)

pip packages:

nginx
Copy
Edit
pip install pandas matplotlib requests
‚úÖ Learn:

What is Python?

Basic syntax (variables, loops, functions)

üîπ Resources:

W3Schools Python Tutorial

Practice small examples (print, for loop, simple function)

üìÖ Day 2 ‚Äì Python Data Structures & Pandas
Goal: Understand lists, dicts, and start Pandas.

‚úÖ Learn:

Lists, dictionaries

Pandas DataFrames basics

How to load CSV data

üîπ Practice:

Create a DataFrame from a dictionary

Do filtering and basic statistics

üìÖ Day 3 ‚Äì Fetch Data from an API
Goal: Learn to get data from a public API.

‚úÖ Learn:

requests library

JSON basics

‚úÖ Practice:

Use this example:

python
Copy
Edit
import requests

response = requests.get("https://api.coindesk.com/v1/bpi/currentprice.json")
data = response.json()
print(data)
Extract fields and print them

üìÖ Day 4 ‚Äì Process & Save API Data
Goal: Convert API data to a DataFrame and save it.

‚úÖ Practice:

Write a script to:

Call the API

Convert JSON to DataFrame

Save to CSV

üìÖ Day 5 ‚Äì Data Cleaning & Transformation
Goal: Learn basic cleaning.

‚úÖ Practice:

Remove missing values

Create new calculated columns

Filter rows

üìÖ Day 6 ‚Äì Visualization
Goal: Create charts.

‚úÖ Learn:

Matplotlib basics (plt.plot, plt.bar)

Save figures as PNG

‚úÖ Practice:

Plot time series of prices (if you choose crypto or weather)

Show labels, titles

üìÖ Day 7 ‚Äì Automate the Pipeline
Goal: Combine everything.

‚úÖ Create:

A script that:

Fetches data

Cleans data

Saves data

Plots charts

üìÖ Day 8 ‚Äì Intro to Flask (Optional)
Goal: Build a simple webpage to display charts.

‚úÖ Learn:

Flask basics (app.route)

Serve HTML templates

Show an image (your chart)

üîπ If too complex, skip Flask and document your project as a script pipeline instead.

üìÖ Day 9 ‚Äì Polish & Document
Goal: Make your project interview-ready.

‚úÖ Add:

README.md

Comments in code

Sample output screenshots

üìÖ Day 10 ‚Äì Practice & Prepare
Goal: Prepare to explain your project.

‚úÖ Write a 2-minute project summary.
‚úÖ Practice:

How you fetched the data

How you cleaned it

How you visualized it

‚úÖ Prepare to show your code in an interview.

üéÅ Where to Host Your Project
‚úÖ GitHub Repo: Upload your .py scripts, CSV files, and screenshots.
‚úÖ Include:

README.md (project description, instructions to run)

Example data file

Example chart image

üí° What You Can Confidently Say in the Interview
Even if you‚Äôre new to Python, you can say:

"I built an automated data pipeline in Python, which fetched live data from a public API, performed data cleaning and transformations in Pandas, and generated visual insights. While I am transitioning from primarily Excel and Power BI, I‚Äôm confident in my ability to apply Python to solve business problems."

‚ú® Next Step
If you like this plan, I will help you step by step starting today:

‚úÖ Day 1 ‚Äì Python basics
I can share examples and guide you through your first script.

Just tell me which API you‚Äôd like to use (I recommend a simple one like:

Coindesk Bitcoin Price

OpenWeatherMap)

Ready to get started? Let‚Äôs begin with Day 1!

DAY 1:
 Day 1 Goal
Install Python & Jupyter

Learn basic Python syntax: variables, loops, functions

Create your first notebook

In [40]:
#Variables & Printing
x = 5
y = 10
print("Sum:", x+y)

Sum: 15

In [41]:
#Lists
number= [1, 2, 3, 4, 5, 6]
print("First Number", number[0])

First Number 1

In [42]:
#Dictionaries
person= {"name": "Alice", "Age": 30}
print("Name",person["name"])

Name Alice

In [43]:
#For Loop
for n in number:
    
    print("Number:", n)

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6

In [44]:
# Functions
def greet(name):
    return "Hello" +" "+  name

message = greet("Anushree")
print(message)

Hello Anushree

üéØ Today‚Äôs Mini Exercise
Practice:

Create a dictionary with keys: city, temperature, unit.

Print out the values.

Write a function that doubles a number.

In [45]:
weather= {"City": "Delhi", "Temperature": 35, "Unit": "C"}
print(weather)
print(weather["City"])
print(weather["Temperature"])

{'City': 'Delhi', 'Temperature': 35, 'Unit': 'C'}
Delhi
35

In [46]:
def double(n):
    return n*2

result = double(4)
print(result)

8

 Day 2 ‚Äì Fetching Data from the API

Today, you will:

‚úÖ Learn how to call the Coindesk Bitcoin Price API
‚úÖ Convert JSON data into Python objects (dictionary)
‚úÖ Extract and print specific data fields

This is the first real step of your project‚Äîgetting live data!

In [47]:
#Step 1 ‚Äì Install Required Libraries

!pip  install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\users\lenovo\appdata\roaming\python\python312\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from requests) (2025.4.26)

This installs the requests library, which lets you call web APIs easily.

In [48]:
#Step 2 ‚Äì Fetch Data From the API

In [49]:
import requests

url = "http://api.open-notify.org/astros.json"
response = requests.get(url)
data = response.json()

print(data)

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 'number': 12, 'message': 'success'}

In [50]:
# You can extract fields like this:
num_people = data["number"]
print("Number of people in space:", num_people)

Number of people in space: 12

Day 3 ‚Äì Processing API Data with Pandas
Today you will:
‚úÖ Convert the JSON data into a Pandas DataFrame
‚úÖ Explore and clean it
‚úÖ Save it as a CSV file

This is an important step‚Äîit transforms raw API data into a usable dataset.

In [51]:
import pandas as pd

In [52]:
#Step 3:Inspect the Data
#Recall that you have this dictionary:

{
  'people': [
      {'name': 'Astronaut 1', 'craft': 'ISS'},
      {'name': 'Astronaut 2', 'craft': 'ISS'},
      ...
  ],
  'number': 7,
  'message': 'success'
}

{'people': [{'name': 'Astronaut 1', 'craft': 'ISS'},
  {'name': 'Astronaut 2', 'craft': 'ISS'},
  Ellipsis],
 'number': 7,
 'message': 'success'}

In [53]:
#You want to convert data["people"] to a DataFrame

url = "http://api.open-notify.org/astros.json"
response= requests.get(url)
data= response.json()

# Extract the list of people
people = data["people"]

# Convert to DataFrame
df= pd.DataFrame(people)

#show the dataframe
print(df)

       craft                  name
0        ISS        Oleg Kononenko
1        ISS          Nikolai Chub
2        ISS  Tracy Caldwell Dyson
3        ISS      Matthew Dominick
4        ISS       Michael Barratt
5        ISS         Jeanette Epps
6        ISS   Alexander Grebenkin
7        ISS         Butch Wilmore
8        ISS       Sunita Williams
9   Tiangong            Li Guangsu
10  Tiangong               Li Cong
11  Tiangong            Ye Guangfu

Step 4 ‚Äì Clean and Process Data
For this small dataset, there is not much cleaning needed, but you can:

In [54]:
#Rename columns for clarity:

df = df.rename(columns={"name": "Astronaut Name", "craft": "Spacecraft"})

In [55]:
from datetime import datetime, timezone

df["Retrieved Time"] = datetime.now(timezone.utc)

In [56]:
print(df)

   Spacecraft        Astronaut Name                   Retrieved Time
0         ISS        Oleg Kononenko 2025-06-29 11:19:29.347535+00:00
1         ISS          Nikolai Chub 2025-06-29 11:19:29.347535+00:00
2         ISS  Tracy Caldwell Dyson 2025-06-29 11:19:29.347535+00:00
3         ISS      Matthew Dominick 2025-06-29 11:19:29.347535+00:00
4         ISS       Michael Barratt 2025-06-29 11:19:29.347535+00:00
5         ISS         Jeanette Epps 2025-06-29 11:19:29.347535+00:00
6         ISS   Alexander Grebenkin 2025-06-29 11:19:29.347535+00:00
7         ISS         Butch Wilmore 2025-06-29 11:19:29.347535+00:00
8         ISS       Sunita Williams 2025-06-29 11:19:29.347535+00:00
9    Tiangong            Li Guangsu 2025-06-29 11:19:29.347535+00:00
10   Tiangong               Li Cong 2025-06-29 11:19:29.347535+00:00
11   Tiangong            Ye Guangfu 2025-06-29 11:19:29.347535+00:00

Step 5 ‚Äì Save Data to CSV

In [57]:
#Save your data to a file you can later re-use or visualize:

df.to_csv("astranauts_data.csv", index= False)

To practice, try this:

‚úÖ Add a new column called "Data Source" with value "Open Notify API" for all rows:

In [58]:
df["Data Source"] = "Open Notify API"
print(df)

   Spacecraft        Astronaut Name                   Retrieved Time  \
0         ISS        Oleg Kononenko 2025-06-29 11:19:29.347535+00:00
1         ISS          Nikolai Chub 2025-06-29 11:19:29.347535+00:00
2         ISS  Tracy Caldwell Dyson 2025-06-29 11:19:29.347535+00:00
3         ISS      Matthew Dominick 2025-06-29 11:19:29.347535+00:00
4         ISS       Michael Barratt 2025-06-29 11:19:29.347535+00:00
5         ISS         Jeanette Epps 2025-06-29 11:19:29.347535+00:00
6         ISS   Alexander Grebenkin 2025-06-29 11:19:29.347535+00:00
7         ISS         Butch Wilmore 2025-06-29 11:19:29.347535+00:00
8         ISS       Sunita Williams 2025-06-29 11:19:29.347535+00:00
9    Tiangong            Li Guangsu 2025-06-29 11:19:29.347535+00:00
10   Tiangong               Li Cong 2025-06-29 11:19:29.347535+00:00
11   Tiangong            Ye Guangfu 2025-06-29 11:19:29.347535+00:00

        Data Source
0   Open Notify API
1   Open Notify API
2   Open Notify API
3   Open Notify API
4   Open Notify API
5   Open Notify API
6   Open Notify API
7   Open Notify API
8   Open Notify API
9   Open Notify API
10  Open Notify API
11  Open Notify API

In [59]:
#Save again to a new CSV file:

df.to_csv("astronauts_data_with_source.csv", index= False)

 1Ô∏è‚É£ How to Extract a Column (e.g., "Spacecraft") from the CSV
Assume you have already saved your CSV as astronauts_data_with_source.csv.

In [60]:
 #Step 1: Read the CSV into a DataFrame
import pandas as pd
df = pd.read_csv("astronauts_data_with_source.csv")

In [61]:
#Step 2: Extract the column "Spacecraft"
spacecraft_column = df["Spacecraft"]
print(spacecraft_column)

0          ISS
1          ISS
2          ISS
3          ISS
4          ISS
5          ISS
6          ISS
7          ISS
8          ISS
9     Tiangong
10    Tiangong
11    Tiangong
Name: Spacecraft, dtype: object

In [62]:
#Tip: If you want to get all unique spacecraft:
unique_spacecraft= df["Spacecraft"].unique()
print(unique_spacecraft)

['ISS' 'Tiangong']

In [63]:
#Or count how many astronauts per spacecraft:
spacecraft_counts= df["Spacecraft"].value_counts()
print(spacecraft_counts)

Spacecraft
ISS         9
Tiangong    3
Name: count, dtype: int64

2Ô∏è‚É£ What Other Things Can You Do With This Data?
Here are some practical examples you can try:

In [64]:
#A. Filtering Rows
# Show only astronauts in a specific spacecraft:
iss_spacecraft= df[df["Spacecraft"]== "ISS"]
print(iss_spacecraft)

  Spacecraft        Astronaut Name                    Retrieved Time  \
0        ISS        Oleg Kononenko  2025-06-29 11:19:29.347535+00:00
1        ISS          Nikolai Chub  2025-06-29 11:19:29.347535+00:00
2        ISS  Tracy Caldwell Dyson  2025-06-29 11:19:29.347535+00:00
3        ISS      Matthew Dominick  2025-06-29 11:19:29.347535+00:00
4        ISS       Michael Barratt  2025-06-29 11:19:29.347535+00:00
5        ISS         Jeanette Epps  2025-06-29 11:19:29.347535+00:00
6        ISS   Alexander Grebenkin  2025-06-29 11:19:29.347535+00:00
7        ISS         Butch Wilmore  2025-06-29 11:19:29.347535+00:00
8        ISS       Sunita Williams  2025-06-29 11:19:29.347535+00:00

       Data Source
0  Open Notify API
1  Open Notify API
2  Open Notify API
3  Open Notify API
4  Open Notify API
5  Open Notify API
6  Open Notify API
7  Open Notify API
8  Open Notify API

In [65]:
# B. Sorting
#Sort by Astronaut Name alphabetically:
sorted_df= df.sort_values("Astronaut Name")
print(sorted_df)

   Spacecraft        Astronaut Name                    Retrieved Time  \
6         ISS   Alexander Grebenkin  2025-06-29 11:19:29.347535+00:00
7         ISS         Butch Wilmore  2025-06-29 11:19:29.347535+00:00
5         ISS         Jeanette Epps  2025-06-29 11:19:29.347535+00:00
10   Tiangong               Li Cong  2025-06-29 11:19:29.347535+00:00
9    Tiangong            Li Guangsu  2025-06-29 11:19:29.347535+00:00
3         ISS      Matthew Dominick  2025-06-29 11:19:29.347535+00:00
4         ISS       Michael Barratt  2025-06-29 11:19:29.347535+00:00
1         ISS          Nikolai Chub  2025-06-29 11:19:29.347535+00:00
0         ISS        Oleg Kononenko  2025-06-29 11:19:29.347535+00:00
8         ISS       Sunita Williams  2025-06-29 11:19:29.347535+00:00
2         ISS  Tracy Caldwell Dyson  2025-06-29 11:19:29.347535+00:00
11   Tiangong            Ye Guangfu  2025-06-29 11:19:29.347535+00:00

        Data Source
6   Open Notify API
7   Open Notify API
5   Open Notify API
10  Open Notify API
9   Open Notify API
3   Open Notify API
4   Open Notify API
1   Open Notify API
0   Open Notify API
8   Open Notify API
2   Open Notify API
11  Open Notify API

In [66]:
#C. Counting
#How many astronauts total?
total_astronauts= len(df)
print("Total Astronauts:", total_astronauts )

Total Astronauts: 12

In [67]:
#D. Grouping
#Group by spacecraft and count:
grouped = df.groupby("Spacecraft").size()
print(grouped)

Spacecraft
ISS         9
Tiangong    3
dtype: int64

In [68]:
#E. Exporting Filtered Data
#Save only ISS astronauts to a new CSV:
#iss_astronauts.to_csv("iss_astronauts.csv", index=False)

In [69]:
#To extract a column:
df["Spacecraft"]

0          ISS
1          ISS
2          ISS
3          ISS
4          ISS
5          ISS
6          ISS
7          ISS
8          ISS
9     Tiangong
10    Tiangong
11    Tiangong
Name: Spacecraft, dtype: object

In [70]:
#To filter rows:
df[df["Spacecraft"]=="ISS"]

,Spacecraft,Astronaut Name,Retrieved Time,Data Source
0,ISS,Oleg Kononenko,2025-06-29 11:19:29.347535+00:00,Open Notify API
1,ISS,Nikolai Chub,2025-06-29 11:19:29.347535+00:00,Open Notify API
2,ISS,Tracy Caldwell Dyson,2025-06-29 11:19:29.347535+00:00,Open Notify API
3,ISS,Matthew Dominick,2025-06-29 11:19:29.347535+00:00,Open Notify API
4,ISS,Michael Barratt,2025-06-29 11:19:29.347535+00:00,Open Notify API
5,ISS,Jeanette Epps,2025-06-29 11:19:29.347535+00:00,Open Notify API
6,ISS,Alexander Grebenkin,2025-06-29 11:19:29.347535+00:00,Open Notify API
7,ISS,Butch Wilmore,2025-06-29 11:19:29.347535+00:00,Open Notify API
8,ISS,Sunita Williams,2025-06-29 11:19:29.347535+00:00,Open Notify API

In [71]:
len(df)

12

In [72]:
sorted_values= df.sort_values("Astronaut Name")
print(sorted_values)

   Spacecraft        Astronaut Name                    Retrieved Time  \
6         ISS   Alexander Grebenkin  2025-06-29 11:19:29.347535+00:00
7         ISS         Butch Wilmore  2025-06-29 11:19:29.347535+00:00
5         ISS         Jeanette Epps  2025-06-29 11:19:29.347535+00:00
10   Tiangong               Li Cong  2025-06-29 11:19:29.347535+00:00
9    Tiangong            Li Guangsu  2025-06-29 11:19:29.347535+00:00
3         ISS      Matthew Dominick  2025-06-29 11:19:29.347535+00:00
4         ISS       Michael Barratt  2025-06-29 11:19:29.347535+00:00
1         ISS          Nikolai Chub  2025-06-29 11:19:29.347535+00:00
0         ISS        Oleg Kononenko  2025-06-29 11:19:29.347535+00:00
8         ISS       Sunita Williams  2025-06-29 11:19:29.347535+00:00
2         ISS  Tracy Caldwell Dyson  2025-06-29 11:19:29.347535+00:00
11   Tiangong            Ye Guangfu  2025-06-29 11:19:29.347535+00:00

        Data Source
6   Open Notify API
7   Open Notify API
5   Open Notify API
10  Open Notify API
9   Open Notify API
3   Open Notify API
4   Open Notify API
1   Open Notify API
0   Open Notify API
8   Open Notify API
2   Open Notify API
11  Open Notify API

 Advanced Examples

 1Ô∏è‚É£ Pivot Tables
What is it?
A pivot table summarizes data, grouping and aggregating by categories.

‚úÖ Example: Count astronauts per spacecraft.

In [73]:
pivot = pd.pivot_table(
    df,
    index = "Spacecraft",  # Group by Spacecraft
    values = "Astronaut Name", # What to count
    aggfunc= "count"   # Count rows
)
print(pivot)

            Astronaut Name
Spacecraft
ISS                      9
Tiangong                 3

In [74]:
pivot= pd.pivot_table(
    df,
    index= "Spacecraft",
    values= "Astronaut Name",
    aggfunc= "max"
)
print(pivot)

                  Astronaut Name
Spacecraft
ISS         Tracy Caldwell Dyson
Tiangong              Ye Guangfu

 You can also use different aggregation functions:

"count"

"first"

"last"

"max"

"min"

Example:

In [75]:
pivot = pd.pivot_table(
    df,
    index="Spacecraft",
    values="Astronaut Name",
    aggfunc="first"  # Show the first astronaut name per spacecraft
)
print(pivot)

            Astronaut Name
Spacecraft
ISS         Oleg Kononenko
Tiangong        Li Guangsu

Merging DataFrames
What is it?
Merging (joining) combines two DataFrames based on a common column.

‚úÖ Example:
Suppose you have another CSV file spacecraft_info.csv like:

Spacecraft	Country
ISS	International
Shenzhou	China

In [76]:
#Step 1: Read it:
spacecraft_info= pd.DataFrame({
    "Spacecraft":["ISS","Shenzhou"],
    "Country":["International","China"]
})

In [77]:
#Step 2: Merge with your astronauts DataFrame:
merged_df= pd.merge(df,spacecraft_info, on="Spacecraft", how="left")
print(merged_df)

   Spacecraft        Astronaut Name                    Retrieved Time  \
0         ISS        Oleg Kononenko  2025-06-29 11:19:29.347535+00:00
1         ISS          Nikolai Chub  2025-06-29 11:19:29.347535+00:00
2         ISS  Tracy Caldwell Dyson  2025-06-29 11:19:29.347535+00:00
3         ISS      Matthew Dominick  2025-06-29 11:19:29.347535+00:00
4         ISS       Michael Barratt  2025-06-29 11:19:29.347535+00:00
5         ISS         Jeanette Epps  2025-06-29 11:19:29.347535+00:00
6         ISS   Alexander Grebenkin  2025-06-29 11:19:29.347535+00:00
7         ISS         Butch Wilmore  2025-06-29 11:19:29.347535+00:00
8         ISS       Sunita Williams  2025-06-29 11:19:29.347535+00:00
9    Tiangong            Li Guangsu  2025-06-29 11:19:29.347535+00:00
10   Tiangong               Li Cong  2025-06-29 11:19:29.347535+00:00
11   Tiangong            Ye Guangfu  2025-06-29 11:19:29.347535+00:00

        Data Source        Country
0   Open Notify API  International
1   Open Notify API  International
2   Open Notify API  International
3   Open Notify API  International
4   Open Notify API  International
5   Open Notify API  International
6   Open Notify API  International
7   Open Notify API  International
8   Open Notify API  International
9   Open Notify API            NaN
10  Open Notify API            NaN
11  Open Notify API            NaN

3Ô∏è‚É£ Time-Based Filtering
What is it?
Selecting rows based on dates or times.

‚úÖ Example:
Suppose you saved data multiple times and have different timestamps in Retrieved Time.

In [78]:
#Convert to datetime format (if it isn‚Äôt already):
df["Retrieved Time"]= pd.to_datatime(df["Retrived Time"])

AttributeError: module 'pandas' has no attribute 'to_datatime'

In [ ]:
#Filter rows retrieved after a certain date:
filtered= df[df["Retrieved Time"]> "2025-06-28"]
print(filtered)

In [ ]:
#Save final results to CSV or Excel:
merged_df.to_csv("merged_astronaut_data.csv", index= False)

In [ ]:
#Or export to Excel:
merged_df.to_excel("merged_astronaut_data.xlsx", index= False)

Day 4 ‚Äì Creating Visualizations with Matplotlib

Today you will learn:
‚úÖ How to create basic charts in Python
‚úÖ How to customize them (titles, labels, colors)
‚úÖ How to save them as image files

Charts help make your project professional and clear.

Step 1 ‚Äì Install Matplotlib
First, install Matplotlib (if not already installed).
Step 2 ‚Äì Import Matplotlib
Add this to a cell:

In [ ]:
import matplotlib.pyplot as plt

pyplot is the part of Matplotlib you use to create charts.

Step 3 ‚Äì Create a Simple Bar Chart
Example: Number of astronauts per spacecraft.

In [ ]:
#Use your DataFrame df:
## Count astronauts per spacecraft
counts= df["Spacecraft"].value_counts()

## Create bar chart
plt.figure(figsize=(6,4))
plt.bar(counts.index, counts.values, color="skyblue")

#Add labels and titles
plt.xlabel("Spacecraft")
plt.ylabel("Number of Astronauts")
plt.title("Astronauts per Spacecraft")

#show the chart
plt.show()

In [ ]:
#Step 4 ‚Äì Customize Your Chart
#Try changing colors, adding grid lines, and rotating labels:
plt.figure(figsize=(6,4))
plt.bar(counts.index, counts.values, color = "lightgreen")
plt.xlabel("Spacecraft")
plt.ylabel("Count")
plt.title("Astronout Count per Spacecraft")
plt.grid(axis= "y")
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Step 5 ‚Äì Save the Chart as a PNG
#You can save the figure to use in presentations or your project portfolio:
plt.figure(figsize=(6,4))
plt.bar(counts.index, counts.values, color="coral")
plt.xlabel("Spacecraft")
plt.ylabel("Number of Astronaut")
plt.title("Artronaut per spacecraft")
plt.grid(axis="y")
plt.savefig("Astronaut_per_spacecraft.png")
plt.close()

This creates an image file in your working directory.

Step 6 ‚Äì Create a Pie Chart

To visualize the proportion of astronauts per spacecraft:

In [ ]:
plt.figure(figsize=(6,6))
plt.pie(
    counts.values,
    labels=counts.index,
    autopct="%1.1f%%",
    startangle=90,
    colors=["gold", "lightblue", "lightcoral"]
)
plt.savefig("Distribution of Astronauts by Spacecraft.png")
plt.title("Distribution of Astronauts by Spacecraft")
plt.show()

Step 7 ‚Äì Line Chart (if you have time series)
If you collected data over time, you can plot how the count changed.
Since your current dataset has one timestamp, you might skip this for now.
Later, when you append more rows over days, you can do this.

Mini Exercise for Today
Create:

One bar chart

One pie chart

Save at least one of them as a PNG file

Experiment:

Change colors

Modify titles

Rotate labels

In [ ]:
print(df)

In [ ]:
print(merged_df)

In [ ]:
#One bar chart
#count spacecraft by country in merged_df
counts= merged_df["Astronaut Name"]

#create a bar chart
plt.figure(figsize=(8,6))
plt.bar(counts.index, counts.values, color="skyblue")
plt.xlabel("Spacecraft")
plt.ylabel("Astronaut Name")
plt.title("Astronaut Name by Spacecraft")
plt.xticks(rotation=45)
plt.grid(axis="y")
plt.tight_layout()
plt.show()

In [ ]:
#bar chart

counts= merged_df["Spacecraft"].value_counts()

# Create a pie chart from the same data
plt.figure(figsize=(8,6))
plt.pie(counts.values, labels=counts.index, autopct="%1.1f%%", startangle=140,
    colors= ["Red", "lightblue", "lightcoral"]
)
plt.title("Astronaut Distribution By spacecraft")
plt.axis("equal")  # Equal aspect ratio to make it a circle
plt.savefig("Astronaut Distribution By spacecraft.png")
plt.show()

Day 5 ‚Äì Automating the Whole Pipeline
Today, you‚Äôll learn to:
‚úÖ Combine all the steps you‚Äôve done so far
‚úÖ Write one script that:

Fetches data from the API

Converts it to a DataFrame

Saves it to CSV

Creates and saves a chart

This is what real projects look like‚Äîautomated, repeatable workflows.

Step 1 ‚Äì Review What You Have
Until now, you have done:

Fetch data from the API (requests)

Convert data to a DataFrame (pandas)

Save CSV files

Create charts (matplotlib)

Today, you will put it all into a single pipeline.

Step 2 ‚Äì Create a New Jupyter Notebook Cell
Paste the full pipeline code below:

next jupyter notebook: Automated Data Pipeline2